*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ---------------ESTILOS GENERALES BODY---------------- */
@font-face {
    font-family: Mabry Deezer Regular;
    src: url(deezer-regular.ttf);
}


body{
    background-color: #121216;
    font-family: roboto, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}


/* ---------------ESTILOS HEADER (KEVIN)---------------- */
.header{
    width: 100%;
}


.header__contenedor{
    padding: 20px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__contenedor--oferta{
    width: 250px;
    padding: 30px 15px 20px 15px;
    border: 1px solid #52525d;
    border-radius: 10px;
}


.header__contenedor--p{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.header__contenedor--enlace{
    margin-right: 2px;
    text-decoration: none;
    color: white;
}


.header__contenedor--flecha{
    margin-bottom: 20px;
}


.header__contenedor--fl{
    width: 3%;
    height: 10px;
}


.header__contenedor--img{
    display: flex;
    justify-content: center;
}


.header__contenedor--tigo{
    width: 10%;
}


.header__contenedor--logo{
    width: 73%;
    display: flex;
    justify-content: center;
}


.header__contenedor--dez{
    width: 10%;
    margin-right: 100px;
}


.header__contenedor--boton{
    
}


.header__contenedor--b{
    padding: 14px 12px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #121216;
    color: white;
}
/* ---------------ESTILOS MAIN (KEVIN)---------------- */
.main{
    width: 100%;
}

.main_1{
    position: absolute;
    width: 100%;
    top: -1800px;
    visibility: hidden;
}

.main_2{
    position: absolute;
    width: 100%;
    top: 2000px;
    visibility: hidden;
}

.main__contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__contenedor_1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__contenedor_2{
    display: flex;
    align-items: center;
    justify-content: center;
}


.main__contenedor--items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.main__contenedor-titulo{
    font-size: 38px;
    margin-bottom: 50px;
}


.main__contenedor--sombra{
    height: 285px;
    width: 64%;
    position: absolute;
    top: 156px;
    right: 0;
    left: 277px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px 35px 16px;
    border-radius: 20px;
    background: linear-gradient(126.05deg,rgb(241 42 42/90%) 25.95%,#bf1ceb 44.46%,#06ad57 65.35%,rgb(6 173 87/60%) 76.7%);
    filter: blur(184px);
    z-index: -1;
}


.main__contenedor--miniItems{
    width: 32%;
    height: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 45px;
    padding: 24px 35px 16px;
    border-radius: 20px;
    background: linear-gradient(57.8deg,#6b42b4 9.75%,#943aab 95.44%);
}


.main__contenedor--subtitulos{
    font-size: 35px;
    margin-bottom: 20px;
}

.main__contenedor--subtitulos_1{
    font-size: 35px;
}


.main__contenedor--parrafo{
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
}


.main__contenedor--button{
    width: 63%;
    margin-bottom: 20px;
    padding: 20px 20px;
    border: 1px solid #121216;
    border-radius: 25px;
    background-color: #121216;
    color: white;
}

.main__contenedor--button:hover{
    border: 1px solid white;
    background-color: white;
    color: black;
}

.main__contenedor--p{
    margin-bottom: 5px;
    font-size: 15px;
}


.main__contenedor--enlace{
    color: white;
}


.main__contenedor--miniItems2{
    width: 32%;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 45px;
    padding: 24px 35px 16px;
    border-radius: 20px;
    background: linear-gradient(53.13deg,#dc4c11 10.71%,#feab2e);
}


.main__contenedor--parrafo2{
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
}


.main__contenedor--parrafo3{
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
}


.main__contenedor--titulo{
    font-size: 30px;
    margin-bottom: 5px;
}


.main__contenedor--luego{
    margin-bottom: 20px;
}


.main__contenedor--miniItems3{
    width: 32%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 45px;
    padding: 24px 35px 16px;
    border-radius: 20px;
    background: linear-gradient(180deg,#202122,#3a3b47 55.56%);
}


.main__contenedor--tigo{
    width: 5%;
    margin-bottom: 20px;
}


.main__contenedor--parrafo4{
    width: 80%;
    margin: 20px 0;
    text-align: center;
}


.main__contenedor--miniItems4{
    width: 32%;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 45px;
    padding: 24px 35px 16px;
    border-radius: 20px;
    background: linear-gradient(69.06deg,#b84fdd -26.76%,#4965f4 44.6%,#2efb74 132.54%);
}
/* ---------------ESTILOS MAIN (CATA)---------------- */

.CATA {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.botton_type_1 {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 100%;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.botton_type_2 {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 100%;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
}

.botton {
    padding: 10px;
    border: 1px solid #BEBEC7;
    border-radius: 100px;
    color: white;
    text-decoration: none;
}

.botton_text {
    position: relative;
}

.botton_text_icon {
    height: 15px;
    left: 360px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.botton_text_icon_2 {
    height: 15px;
    left: 390px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.botton_text_porcent {
    padding: 4.2px 10px;
    top: -4px;
    right: -3px;
    border-radius: 100px;
    align-items: center;
    background: linear-gradient(69.06deg,#b84fdd -26.76%,#4965f4 44.6%,#2efb74 132.54%);
    position:absolute;
}

#click_event {
    visibility: hidden;
    display: none;
}

#click_event:checked ~ .main_1 {
    position: static;
    visibility: visible;
}

#click_event:checked ~ .botton_type_1{
    visibility: hidden;
    display: none;
}

#click_event2 {
    visibility: hidden;
    display: none;
}

#click_event2:checked ~ .main_2 {
    position: static;
    visibility: visible;
}

#click_event2:checked ~ .botton_type_2{
    visibility: hidden;
    display: none;
}

.titulo {
    text-align: center;
    font-weight: bold;   
    color: white;
}

.subtitulo {
    color: #BEBEC7;
    font-size: 16px;
    padding: 0px 20px;
    line-height: 25px;
    text-align: center;
}


.botton_type_3 {
    display: flex;
    height: 100%;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 48px;
}

.botton_type_3 a {
    padding: 20px 40px;
    border: 1px solid white;
    border-radius: 100px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.sections {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section_type_1 {
    width: 41%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section_type_1 .titulo{
    font-size: 38px;
    margin-bottom: 24px;
}

.section_type_1 .subtitulo {
    margin-bottom: 48px;
}

.section_type_2 {
    width: 43%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section_type_2 .titulo{
    font-size: 23.8px;
    margin-bottom: 12px;
}

.section_type_2 img {
    display: flex;
    width: 180%;
}

.botton_type_2__5 {
    margin-top: 48px;
}

/* ---------------ESTILOS MAIN (ANDRE)---------------- */
/* ------------------CATALOGO------------------------ */
.catalogo{
    text-align: center;
    margin: 30px 200px;
}
.catalogo h1{
    font-size: 38px;
    margin: 1rem;
}
.p_catalogo {
    font-size: 16px;
    margin: 1rem;
    color: #A4A4AD;
    font-weight: 500;
    line-height: 1.5rem;
}

.lista_catalogo{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.lista_catalogo li{
    margin: 0.5rem;
    width: 200px;
}
.lista_catalogo p{
    text-align: center;
    line-height: 1.2rem;
    font-size: 1rem;
    color: #A4A4AD;
    padding: 0.5rem 0rem;
}
.lista_catalogo img{
    width: 200px;
    border-radius: 0.2rem;
}
.lista_catalogo a{
    text-decoration: none;
}
/* --------------------BOTON EXPLORA------------------------ */
.boton_parte3{
    margin: 2.5rem;
    padding: 18px 35px;
    border-radius: 45px;
    background-color: #FFFFFF;
    color: black;
    font-weight: 700;
}
/* ----------------------NOVEDADES---------------------- */
.novedades{
    text-align: center;
    margin: 30px 200px;
}
.novedades p{
    font-size: 16px;
    margin: 1rem;
    color: #A4A4AD;
    font-weight: 500;
    line-height: 1.5rem;
}
.novedades h1{
    font-size: 38px;
    margin: 1rem;
}
.novedades img{
    text-align: center;
    margin: 5px 200px;
    width: 600px;
}
.novedades_contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.novedades_contenedor_linea{
    border: 1px solid #A4A4AD;
    width: 20%;
}
/* -------------------FAQ------------------------------- */
.faq h1{
    font-size: 38px;
    margin: 1rem;
    text-align: center;
}
.desplegables_faq{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    line-height: 1.5rem;
    padding: 2rem;
}
summary{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.flecha_summary{
    width: 25px;
    rotate: -95deg;
    text-align: right;
}
.flecha_summary:hover{
    rotate: 5deg;
}
.faq details{
    width: 40%;
    margin: 1.5rem;
}
.faq summary{
    font-size: 28px;
    font-weight: bold;
}
.desplegables_faq p{
    padding: 1.5rem;
}
.ultimo_p{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: auto;
    padding: 4rem;
    color:#52525d;
    font-size: 14px;
}
/* ---------------ESTILOS FOOTER (ANDRE)---------------- */
.img_footer_app{
    text-align: center;
    margin: 2rem;
}
.img_footer_app img{
    width: 150px;
    height: 65px;
}
.compilado_listas{
    display: flex;
    font-size: 1rem;
    justify-content: space-around;
}
.lista_footer{
    list-style-type: none;
}
.lista_footer .h5_footer{
    font-size: 1rem;
    color: white;
    font-weight: 700;
}

.lista_footer li{
    margin: 1.6rem;
    color:  #A4A4AD; 
}
.lista_footer li a{
    color:  #A4A4AD;
    text-decoration: none;
}

/* ----------FOOTER ULTIMA PARTE */
.ultimo_footer{
    display: flex;
    justify-content:space-between;
    margin: 5rem;
}
.redes_sociales{
    display: flex;
    list-style-type: none;
    text-decoration: none;
}
.redes_sociales img{
    width: 40px;
}
.img_logo_deezer{
    height:40px;
    text-align: center; 
}
.seleccion_idioma select{
    background-color: #121216;
    color: white;
    border: none;
}
.seleccion_idioma label{
    color:#A4A4AD;
}
