*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ---------------ESTILOS GENERALES BODY---------------- */
body{
    background-color: #121216;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

/* ---------------ESTILOS HEADER (KEVIN)---------------- */
.header{
    width: 100%;
}


.header__contenedor{
    padding: 20px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__contenedor--oferta{
    width: 250px;
    padding: 30px 15px 20px 15px;
    border: 1px solid #52525d;
    border-radius: 10px;
}


.header__contenedor--p{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.header__contenedor--enlace{
    margin-right: 2px;
    text-decoration: none;
    color: white;
}


.header__contenedor--flecha{
    margin-bottom: 20px;
}


.header__contenedor--fl{
    width: 3%;
    height: 10px;
}


.header__contenedor--img{
    display: flex;
    justify-content: center;
}


.header__contenedor--tigo{
    width: 10%;
}


.header__contenedor--logo{
    width: 73%;
    display: flex;
    justify-content: center;
}


.header__contenedor--dez{
    width: 10%;
    margin-right: 100px;
}


.header__contenedor--boton{

}


.header__contenedor--b{
    padding: 14px 12px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #121216;
    color: white;
}
/* ---------------ESTILOS MAIN (KEVIN)---------------- */
.main{
    width: 100%;
}


.main__contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}


.main__contenedor--items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.main__contenedor-titulo{
    font-size: 38px;
    margin-bottom: 50px;
}


.main__contenedor--sombra{
    height: 285px;
    width: 64%;
    position: absolute;
    top: 156px;
    right: 0;
    left: 277px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px 35px 16px;
    border-radius: 20px;
    background: linear-gradient(126.05deg,rgb(241 42 42/90%) 25.95%,#bf1ceb 44.46%,#06ad57 65.35%,rgb(6 173 87/60%) 76.7%);
    filter: blur(184px);
    z-index: -1;
}


.main__contenedor--miniItems{
    width: 32%;
    height: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 45px;
    padding: 24px 35px 16px;
    border-radius: 20px;
    background: linear-gradient(57.8deg,#6b42b4 9.75%,#943aab 95.44%);
}


.main__contenedor--subtitulos{
    font-size: 35px;
    margin-bottom: 20px;
}



.main__contenedor--parrafo{
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
}


.main__contenedor--button{
    width: 63%;
    margin-bottom: 20px;
    padding: 20px 20px;
    border: 1px solid #121216;
    border-radius: 25px;
    background-color: #121216;
    color: white;
}

.main__contenedor--button:hover{
    border: 1px solid white;
    background-color: white;
    color: black;
}

.main__contenedor--p{
    margin-bottom: 5px;
    font-size: 15px;
}


.main__contenedor--enlace{
    color: white;
}


.main__contenedor--miniItems2{
    width: 32%;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 45px;
    padding: 24px 35px 16px;
    border-radius: 20px;
    background: linear-gradient(53.13deg,#dc4c11 10.71%,#feab2e);
}


.main__contenedor--parrafo2{
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
}


.main__contenedor--parrafo3{
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
}


.main__contenedor--titulo{
    font-size: 30px;
    margin-bottom: 5px;
}


.main__contenedor--luego{
    margin-bottom: 20px;
}


.main__contenedor--miniItems3{
    width: 32%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 45px;
    padding: 24px 35px 16px;
    border-radius: 20px;
    background: linear-gradient(180deg,#202122,#3a3b47 55.56%);
}


.main__contenedor--tigo{
    width: 5%;
    margin-bottom: 20px;
}


.main__contenedor--parrafo4{
    width: 80%;
    margin: 20px 0;
    text-align: center;
}


.main__contenedor--miniItems4{
    width: 32%;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 45px;
    padding: 24px 35px 16px;
    border-radius: 20px;
    background: linear-gradient(69.06deg,#b84fdd -26.76%,#4965f4 44.6%,#2efb74 132.54%);
}
/* ---------------ESTILOS MAIN (CATA)---------------- */

/* ---------------ESTILOS MAIN (ANDRE)---------------- */

/* ---------------ESTILOS FOOTER (ANDRE)---------------- */
.imgFooterApp{
    text-align: center;
    margin: 2rem;
}
.imgFooterApp img{
    width: 150px;
    height: 65px;
}
.listasFooter{
    display: flex;
    justify-content: space-around;
}

footer h5{
    font-size: 1.2rem;
}
.listaFooter{
    list-style-type: none;
}
.listaFooter li{
    margin: 1rem;
    color: #928683;
    
}
.listaFooter li a{
    margin: 1rem;
    color: #928683;
    text-decoration: none;
}